.confirmacion-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  max-width: 1200px;
  margin: auto;
  gap: 40px;
}

.confirmacion-left {
  flex: 2;
}

.confirmacion-right {
  flex: 1;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
}

.breadcrumb {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}
.breadcrumb span {
  font-weight: bold;
  color: #333;
}

.confirmacion-card {
  text-align: center;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
}

.check-icon {
  font-size: 80px;
  color: #56B280;
  border: 3px solid #56B280;
  border-radius: 50%;
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 90px;
  margin-bottom: 20px;
}

.confirmacion-card h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.order {
  color: #56B280;
  font-weight: bold;
  margin-bottom: 20px;
}

.mensaje {
  font-size: 15px;
  color: #555;
  margin-bottom: 30px;
}

.btn-principal {
  background: #56B280;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
  width: 60%;
}

.btn-principal:hover {
  background: #469c6d;
}

.btn-secundario {
  background: none;
  border: none;
  color: #56B280;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.producto {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.producto img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
}

.nombre {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.precio {
  font-size: 16px;
  color: #56B280;
}

.resumen {
  margin-top: 20px;
  font-size: 15px;
  color: #444;
}

.fila {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.fila.total {
  font-weight: bold;
  margin-top: 20px;
}

.gratis {
  color: #000;
  font-weight: bold;
}

.precio-total {
  font-size: 20px;
  color: #56B280;
}
